---
layout: default
title: Sprecherinnen und Sprecher
---

<h1>{{ page.title }}</h1>

<div class="div-speakerlist">
  {% assign cur_letter = false %}
  {% assign speakers = site.speakers | sort: 'last_name' %}
  {% for speaker in speakers %}
    {% assign last_letter = speaker.last_name | slice: 0 | capitalize %}
    {% if cur_letter != last_letter %}
      {% if cur_letter %}
          </ul>
        </div>
      {% endif %}

      {% assign cur_letter = last_letter %}
      <div class="div-speakergroup">
        <h3>{{ cur_letter }}</h3>
        <ul>
    {% endif %}

    <li>
      {% assign hide_speaker = false %}
      {% for hidden_speaker in site.hide_links['speakers'] %}
        {% if hidden_speaker == speaker.name %}
          {% assign hide_speaker = true %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if hide_speaker %}
        {{ speaker.first_name }} {{ speaker.last_name }}
      {% else %}
        <a href="{{ speaker.url | prepend: site.baseurl }}">
          {{ speaker.first_name }} {{ speaker.last_name }}
        </a>
      {% endif %}
    </li>
  {% endfor %}
    </ul>
  </div>
</div>
