---
layout: default
title: Sprecherinnen und Sprecher
---

<h1>{{ page.title }}</h1>

<p>
  {% assign cur_letter = blank %}
  {% assign speakers = site.speakers | sort: 'last_name' %}
  {% for speaker in speakers %}
    {% assign last_letter = speaker.last_name | slice: 0 | capitalize %}
    {% if cur_letter != last_letter %}
      {% if cur_letter != blank %}
        </ul>
      {% endif %}

      {% assign cur_letter = last_letter %}
      <h2>{{ cur_letter }}</h2>
      <ul>
    {% endif %}

    <li>
      <a href="{{ site.url }}{{ speaker.url}}">
        {{ speaker.first_name }} {{ speaker.last_name }}
      </a>
    </li>
  {% endfor %}
  </ul>
</p>
