{% include header.html %}

  {% assign talk = page %}

  <h5>
    {% for main_cat in site.main_categories %}
      {% for cat in talk.categories %}
        {% if cat == main_cat.name %}
          {% assign talk_main_cat = main_cat.name %}
          {% assign talk_color = main_cat.color %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    <span class="badge" style="background-color: {{ talk_color }};">{{ talk_main_cat }}</span>
    {% for cat in talk.categories %}
      {% if cat != talk_main_cat %}
        <span class="badge badge-light">{{ cat }}</span>
      {% endif %}
    {% endfor %}
  </h5>

  <h1>Vortrag: {{ talk.name }}</h1>

  <p>
    <em>
      {% for speaker_name in talk.speakers %}
        {% assign speaker = site.speakers | where: 'title', speaker_name | first %}
        <a href="{{ site.url }}{{ speaker.url }}">
          {{ speaker.first_name | slice: 0 }}. {{ speaker.last_name }}</a><!--
          {% if forloop.last != true %}
            -->,
          {% else %}
            -->
          {% endif %}
      {% endfor %}
    </em>
  </p>

  {% assign talk_start_hour = talk.date_start | date: "%H" %}
  {% assign talk_start_min = talk.date_start | date: "%M" | divided_by: site.time_steps | floor | times: site.time_steps %}
  {% assign talk_end_hour = talk.date_end | date: "%H" %}
  {% assign talk_end_min = talk.date_end | date: "%M" | divided_by: site.time_steps | ceil | times: site.time_steps %}

  {% assign talk_duration_min = talk_end_hour | minus: talk_start_hour | times: 60 | minus: talk_start_min | plus: talk_end_min %}

  {% assign room = site.location | where: 'name', talk.room | first %}
  <p>
    Beginn um <a href="{{ site.url }}{% link program/index.html %}" class="badge badge-light">{{ talk_start_hour }}:{% if talk_start_min == 0 %}0{%endif %}{{ talk_start_min }}</a> Uhr

    in <a href="{{ site.url }}{{ room.url }}" class="badge badge-light">{{ room.name }}</a>,

    Dauer: <span class="badge badge-light">{{ talk_duration_min }}min</span>
  </p>

  {{ content }}

  &nbsp;
  <p>
    <a href="{{ site.url }}{% link talks/index.html %}">zurück zur Übersicht</a>
  </p>
  <p>
    <a href="{{ site.url }}{% link program/index.html %}">zurück zum Program</a>
  </p>

{% include footer.html %}